@import url(https://fonts.google.com/specimen/Oswald);t

*{
    margin: 0%;
    padding: 0%;
}
body{
    color: rgb(216, 235, 172);
    background: url('5651990.webp') no-repeat;
}
.sidebar{
    /* background-color: rgb(97, 95, 95); */
    /* width: 30vw; */
    /* height: 150vh; */
    font-family: 'fira sans', sans-serif;
    /* height: 100vh; */
}

.sidebar nav{
    margin-left: 39rem;
    /* padding: 45px; */
}

.sidebar nav li {
    padding-left: 2rem;
    list-style: none;
    font-size: 24px;

    /* padding: 30px; */
}
.sidebar nav li :hover{
    color: rgb(169, 187, 187);
}
.sidebar nav li a {
    text-decoration: none;
    color: rgb(255, 255, 255);

}
.main{
    /* background-color: rgb(250, 250, 246); */
    /* width:90vw; */
}

.container{
    top: 0;
    left: 0;
    /* display: flex; */
}

.infoContainer{
    background-color: rgb(255, 245, 245);
    height: 45vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;

}

.devInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hello{

    font-size:60px;
}

.name{
    font-size: 45px;
    font-weight: bold;
}

.about{
    font-size: 40px;
    
}

.moreabout{
    font-size: 30px;
    margin-top: 25px;
    font-family:'Fira Sans',sans-serif;
}

buttons{
    margin-top: 34px;

}

.btn{
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 20px;
    margin: 0 3px;
    cursor: pointer;
}

.btn-sm{
    font-size: 17px;
}


.btn:hover{
    background-color: white;
    color: dodgerblue;
}

.kiranPic img{
    height: 58vh;
}

.contactform{
    padding: 0 34px;
    padding-top: 144px;
    font-family: 'Fira Sans', sans-serif;
    

}

.contactform h1{
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    padding: 12px 0;

}

.contactform form div{
    width: 15vw;
    border-radius: 5px;
    margin: 6px 0 ;
    padding: 10px 0;

}


.contactform form div input{
    width: 16vw;
    border-radius: 5px;
    margin: 6px 0;
    padding: 10px 0;

}

#emailhelp{
    font-size: 10px;
    color: midnightblue;
    margin: 0 5px;
}

.form-check{
    flex-direction: row;
}

.form-check input{
    width: 24px;
    margin: 3px 0;
}

.blogitem{
    margin: 10px;
    font-family: 'Fira Sans', sans-serif;

}

.h1{
    font-family: 'Fira Sans', sans-serif;

}

.p{
    font-family: 'Source Code Pro',  monospace;

}

image{
    padding: 30;
}

.intro h2{
    font-family: 'Courier New', Courier, monospace;
    margin: 12px;

}

.intro p{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin: 12px;
}

.skillItem{
    display: flex;
}

nav ul{
    
    display: flex;
}
.skills{
    width: 23px;
    height: 23px;
    background-color: red;
    display: flex;
}


